body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

.container {
   
  background: white;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 500px;
  width: 100%;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.question {
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 8px 0;
  cursor: pointer;
}

button {
  display: block;
  margin: auto;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background: #007BFF;
  color: white;
  cursor: pointer;
  transition: all 200ms
}



button:hover {
  background: #0056b3;
  transform: scale(1.05);
  color: rgb(92, 22, 22)
}



#time {
  display: none;
  /* margin: auto; */
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background: #090007;
  color: white;
}

select {
  margin-bottom: 10px;
}

#appel {
  color: coral;
  display: inline-block; /* nécessaire pour le transform */
  animation: bouge 2s infinite alternate;
 text-align: center;
}

@keyframes bouge {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(30px) scale(1.1); /* décale de 30px vers la droite */
  }
}
